  	<!-- Contenido -->
  	<div class="container">
            <!-- Titulo -->
            <div class="page-header">
                <h1>Búsqueda de cursos</h1>
            </div>

	    <!-- busqueda -->
	    <form class="form-inline" role="form">
	    	<div class="form-group">
                            <label for="buscar"><strong>Búsqueda por nombre: &nbsp;</strong></label>
			    <div class="input-group">
                                        
					<input type="text" id="buscar" class="form-control" placeholder="palabra clave...">
					<span class="input-group-btn">
						<button class="btn btn-primary btn-large" type="button" id="buscar">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<span class="glyphicon-class">Búscar</span>
						</button>
					</span>
				</div>
			</div>
		</form>

	    <!-- contenido -->
	    <div class="panel">
		    <div class="table-responsive">

		    	<!-- cabecera de la lista-->
		    	<table class="table table-striped table-hover table-condensed">
		    		<thead>
		    			<tr>
		    				<td class="col-lg-5"><strong>Nombre</strong></td>
		    				<td class="col-lg-2"><strong>Lugar</strong></td>
		    				<td class="col-lg-2"><strong>Inicio</strong></td>
		    				<td class="col-lg-2"><strong>Fin</strong></td>
		    				<td class="col-lg-1"><strong>Vacantes</strong></td>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<td>Cocina para principiantes</td>
		    				<td>Madrid</td>
		    				<td>08/01/2017</td>
		    				<td>15/01/2017</td>
		    				<td>4</td>
		    			</tr>

		    			<tr>
		    				<td>Cocina moderna</td>
		    				<td>Madrid</td>
		    				<td>01/02/2017</td>
		    				<td>15/02/207</td>
		    				<td>1</td>
		    			</tr>

		    			<tr>
		    				<td>Aprende a cocinar</td>
		    				<td>Madrid</td>
		    				<td>23/04/2017</td>
		    				<td>24/04/2017</td>
		    				<td>6</td>
		    			</tr>

		    			<tr>
		    				<td>Cocina para principiantes</td>
		    				<td>Coslada</td>
		    				<td>20/08/2017</td>
		    				<td>20/08/2017</td>
		    				<td>12</td>
		    			</tr>

		    			<tr>
		    				<td>Trucos de cocina</td>
		    				<td>Madrid</td>
		    				<td>21/08/2017</td>
		    				<td>21/08/2017</td>
		    				<td>0</td>
		    			</tr>
		    		</tbody>	
		    	</table>

			    <nav aria-label="Page navigation" class="col-lg-7 col-lg-offset-5">
			    	<ul class="pagination">
			    		<li class="disabled">
			    			<span>
			    				<span aria-hidden="true">&laquo;</span>
			    			</span>
			    		</li>
			    		<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
			    		<li><a href="#">2</a></li>
			    		<li>
			    			<span>
			    				<span aria-hidden="true">&raquo;</span>
			    			</span>
					    </li>
			    	</ul>
			    </nav>
			</div>
		</div>
	</div>