<!DOCTYPE html>
<html lang="es">
<head>
	<title> Comentarios</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="estilo_C.css"/>
</head>
<body>
<h2>| Comentarios</h2>
	<div class = "Realizados">
		<p>
		<img src="/hdhddh.jpg"> <!--Foto y nick del usuario ,fecha y texto de cada comentario realizado<-->
			Nick <br>
			Fecha <br>
			Comentario
		</p>

	</div>
	<div class = "Nuevo">
	Introduce aquí tu comentario:
	<br>
		<div class = "Formulario">
			<textarea name="comentario"></textarea>
		</div>	
		<div class="Boton">
			<input type="submit" value="Enviar"></input>
		</div>
	</div>

</body>