<!DOCTYPE html>
<html lang="es">
<head>
	<title>Saboteur</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/Saboteur.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/welcome.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/partidaStyle.css">
	<meta charset="utf-8">
</head>
<body>
	<header>
                <div class="Logo">
                        <a href="/"><img src="../images/Logo.png" alt="Logo"></img></a>
                </div>
		<% if(jugador) {%>
		<div class="BarraBoton">
			<table>
				<tr>    
                                        <% if(jugador) { %>
                                            <% if(jugador.Foto) { %>
                                            <td>
                                            <img class="Perfil" src="../images/<%= jugador.Foto %>"></img>
                                            </td>
                                            <% } %>
                                            <td>
                                            <%= jugador.Nick %>
                                            </td>
                                        <% } %>
					<td><a href="/logout">&#8224DESCONECTAR</a></td>
					<td><a href="/unirPartida">&#8224UNIRSE A PARTIDA</a></td>
					<td><a href="/crearPartida">&#8224CREAR PARTIDA</a></td>
				</tr>
			</table>
		</div>
		<% } else { %>
		<div class="Login">
			<form action="/jugador/login" method="post">
			<table>
				<tr>
					<td><label for="Nick">Usuario:</td>
					<td><label for="Password">Contraseña：</td>
					<td></td>
				</tr>
				<tr>
					<td><input class="TextField" type="text" name="Nick" id="Nick"></td>
					<td><input class="TextField" type="password" name="Password" id="Password"></td>
					<td><input type="submit" name="submit" value="Identificarse"></td>
				</tr>
			</table>
			</form>
		</div>
		<% } %>
	</header>

	<div class="Barra"></div>