<!DOCTYPE html>
<html lang='es'>
  <head>
	<title>Portal de cursos</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/cursos.css' />
	<meta name='viewport' content='width=device-width,initial-scale=1'>
  </head>
  <body>

  	<!-- Cabecera -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
        <a class="navbar-brand" href="" id="logo">Portal de cursos</a>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="desactive">
						<a id="busqueda" href="">Buscar cursos</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
              <button id="identificarse" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Identificarse</button>
					</li>
        		</ul>
			</div>
		</div>
	</nav>

  <div id="alerts" class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p></p>
  </div>
