<%- include header -%>

    <div class="container">
    	<div id="contenido">
			<%- include principal -%>
		</div>
    </div>

	<!-- login Modal -->
	<div class="modal fade" id="logModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Identificación</h4>
				</div>
				<div class="modal-body">
				  
				    <!-- identificacion -->
				    <div id="ident">
					    <form class="form" role="form">
					    	<div class="form-group">
			                    <label for="correo">Dirección de correo: </label>
			                    <input type="email" class="form-control" id="correo" placeholder="correo..." required>
				            </div>
				            <div class="form-group">
				                <label for="password">Contraseña</label>
				                <input type="password" class="form-control" id="password" placeholder="contraseña..." required>
				            </div>
				            <button type="submit" class="btn btn-primary">Identificarse</button>
				            <a id="nuevaCuenta" href="">Crear nueva cuenta</a>
				        </form>
			        </div>

			        <!-- form nuevo usuario -->
			        <div id="nuevo">
					    <form class="form-horizontal" role="form" id="formNuevoUsuario">
					    	<div class="form-group">
			                    <label for="correo" class="col-lg-2 control-label">Dirección de correo </label>
			                    <div class="col-lg-10">
			                        <input type="email" class="form-control" id="correo" required>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="password" class="col-lg-2 control-label">Contraseña </label>
			                    <div class="col-lg-10">
			                        <input type="password" class="form-control" id="password" required>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="nombre" class="col-lg-2 control-label">Nombre </label>
			                    <div class="col-lg-10">
			                        <input type="text" class="form-control" id="nombre" required>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="apellido" class="col-lg-2 control-label">Apellido </label>
			                    <div class="col-lg-10">
			                        <input type="text" class="form-control" id="apellido" required>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-lg-2 control-label">Sexo </label>
			                    <div class="col-lg-10">
			                        <label class="radio-inline">
			                            <input type="radio" name="sexo" id="sexo" value="H" required>Hombre
			                        </label>
			                        <label class="radio-inline">
			                            <input type="radio" name="sexo" id="sexo" value="M">Mujer
			                        </label>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="nacimiento" class="col-lg-2 control-label">Fecha de nacimiento </label>
			                    <div class="col-lg-10">
			                        <input type="date" class="form-control" id="nacimiento" required>
			                    </div>
			                </div>
			                <div class="form-group">
			                	<div class="col-lg-10 col-lg-offset-2">
			                		<button type="submit" class="btn btn-primary">Identificarse</button>
			                	</div>
			                </div>
			            </form>
			        </div>

				</div>
			</div>
	    </div> 
	</div>

	<!-- curso modal -->
	<div class="modal fade" id="cursoModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Nuevo curso</h4>
				</div>
				<div class="modal-body">
				  
				    <!-- insercion de curso -->
				    <div>
					    <form class="form-horizontal" role="form" id="formNuevoCurso">
					        <div class="form-group">
					            <label for="titulo" class="col-lg-4 control-label">Título: </label>
					            <div class="col-lg-8">
					                <input type="text" class="form-control" id="titulo" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="descripcion" class="col-lg-4 control-label">Descripción: </label>
					            <div class="col-lg-8">
					                <textarea class="form-control" row="10" id="descripcion" required></textarea>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="localidad" class="col-lg-4 control-label">Localidad: </label>
					            <div class="col-lg-8">
					                <input type="text" class="form-control" id="localidad" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="direccion" class="col-lg-4 control-label">Dirección: </label>
					            <div class="col-lg-8">
					                <input type="text" class="form-control" id="direccion" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="imagen" class="col-lg-4 control-label">Imagen: </label>
					            <div class="col-lg-8">
					                <div class="input-group">
					                    <input id="mi-selector" type="text" class="form-control">
					                    <label class="input-group-btn">
					                        <span class="btn btn-primary">
					                            Seleccionar&hellip; <input id="selector-imagen" type="file" style="display: none;">
					                        </span>
					                    </label>
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="plazas" class="col-lg-4 control-label">Plazas(5-20): </label>
					            <div class="col-lg-8">
					                <input type="number" min="5" max="20" class="form-control" id="plazas" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="fecha_ini" class="col-lg-4 control-label">Fecha de inicio: </label>
					            <div class="col-lg-8">
					                <input type="date" class="form-control" id="fecha_ini" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="fecha_fin" class="col-lg-4 control-label">Fecha de finalización: </label>
					            <div class="col-lg-8">
					                <input type="date" class="form-control" id="fecha_fin" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="horarios_ini" class="col-lg-4 control-label">Horarios: </label>
					            <div class="col-lg-3">
					                <input type="time" class="form-control" id="horarios_ini" required>
					            </div>
					            <label class="col-lg-1 control-label">
					                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					            </label>
					            <div class="col-lg-3">
					                <input type="time" class="form-control" id="horarios_fin" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="col-lg-2 col-lg-offset-5">
					                <button id="nuevoCurso" type="submit" class="btn btn-primary">Insertar</button>
					            </div>
					        </div>
					    </form>
					</div>
				</div>
			</div>
	    </div> 
	</div>

	<!-- modificar curso modal -->
	<div class="modal fade" id="cursoUpdateModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Modificar curso</h4>
				</div>
				<div class="modal-body">
				  
				    <!-- modificacion de curso -->
				    <div>
					    <form class="form-horizontal" role="form" id="formUpdateCurso">
					        <div class="form-group">
					            <label for="id" class="col-lg-4 control-label">Id: </label>
					            <div class="col-lg-8">
					                <input type="text" class="form-control" id="id" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="titulo" class="col-lg-4 control-label">Título: </label>
					            <div class="col-lg-8">
					                <input type="text" class="form-control" id="titulo" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="descripcion" class="col-lg-4 control-label">Descripción: </label>
					            <div class="col-lg-8">
					                <textarea class="form-control" row="10" id="descripcion" required></textarea>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="localidad" class="col-lg-4 control-label">Localidad: </label>
					            <div class="col-lg-8">
					                <input type="text" class="form-control" id="localidad" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="direccion" class="col-lg-4 control-label">Dirección: </label>
					            <div class="col-lg-8">
					                <input type="text" class="form-control" id="direccion" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="imagen" class="col-lg-4 control-label">Imagen: </label>
					            <div class="col-lg-8">
					                <div class="input-group">
					                    <input id="mi-selector" type="text" class="form-control">
					                    <label class="input-group-btn">
					                        <span class="btn btn-primary">
					                            Seleccionar&hellip; <input id="selector-imagen" type="file" style="display: none;">
					                        </span>
					                    </label>
					                </div>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="plazas" class="col-lg-4 control-label">Plazas(5-20): </label>
					            <div class="col-lg-8">
					                <input type="number" min="5" max="20" class="form-control" id="plazas" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="fecha_ini" class="col-lg-4 control-label">Fecha de inicio: </label>
					            <div class="col-lg-8">
					                <input type="date" class="form-control" id="fecha_ini" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="fecha_fin" class="col-lg-4 control-label">Fecha de finalización: </label>
					            <div class="col-lg-8">
					                <input type="date" class="form-control" id="fecha_fin" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="horarios_ini" class="col-lg-4 control-label">Horarios: </label>
					            <div class="col-lg-3">
					                <input type="time" class="form-control" id="horarios_ini" required>
					            </div>
					            <label class="col-lg-1 control-label">
					                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					            </label>
					            <div class="col-lg-3">
					                <input type="time" class="form-control" id="horarios_fin" required>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="col-lg-2 col-lg-offset-5">
					                <button id="modificaCurso" type="submit" class="btn btn-primary">Modificar</button>
					            </div>
					        </div>
					    </form>
					</div>
				</div>
			</div>
	    </div> 
	</div>

	<!-- Eliminar curso modal -->
	<div class="modal fade" id="cursoDeleteModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Eliminar curso</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
			                <label for="idEliminar" class="col-lg-4 col-lg-offset-2 control-label">Introducir el id de curso: </label>
			                <div class="col-lg-4">
			                	<input type="text" class="form-control" id="idEliminar" required>
			                </div>
		                </div>
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-md" data-dismiss="modal">Cerrar</button>
					<button id="bEliminarCurso" class="btn btn-primary btn-md">Eliminar</button>
				</div>
			</div>
	    </div> 
	</div>

	<!-- leer curso modal -->
	<div class="modal fade" id="cursoLeerModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
			                <label for="idLeer" class="col-lg-4 col-lg-offset-2 control-label">Introducir el id de curso: </label>
			                <div class="col-lg-4">
			                	<input type="text" class="form-control" id="idLeer" required>
			                </div>
		                </div>
                    </div>
                    <div id="infoCurso">
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-md" data-dismiss="modal">Cerrar</button>
					<button type="button" id="bLeerCurso" class="btn btn-primary btn-md">Buscar</button>
				</div>
			</div>
	    </div> 
	</div>
<%- include footer -%>