<div id="jumbo" class="jumbotron">
	<h2>¿QUÉ VAS A APRENDER?</h2>
	<ul>
		<li>La metodología de trabajo utilizada en la cocina profesional</li>
		<li>Nuestra base y cultura gastronómica para tener una base sólida de partida desde los pilares sobre la que se ha construido la cocina actual</li>
		<li>Perfeccionar tus técnicas de cocina gracias a la experiencia aportada por nuestros profesores cocineros del Grupo Lezama</li>
		<li>Organizar con eficacia los procesos de trabajo para optimizar la gestión y la administración de una cocina profesional</li>
		<li>Las más recientes técnicas de gestión de cocina: preparación de materias primas, emplatado y decoración, montaje de buffets, métodos de cocinado, diseño de menús y confección de cartas, etc.</li>
		<li>Las nuevas técnicas para crear, desarrollar y transformar los alimentos, logrando una amplia gama de combinaciones de texturas, sabores y colores</li>
	</ul>
	<a class="btn btn-primary btn-lg" href="#" role="button">Cursos disponibles</a>
	<div class="pull-right">
		<button id="bInsertaCurso" class="btn btn-primary btn-md">Insertar curso</button>
		<button id="bModificaCurso" class="btn btn-primary btn-md">Modificar curso</button>
		<button id="bEliminaCurso" class="btn btn-primary btn-md">Eliminar curso</button>
		<button id="bLeeCurso" class="btn btn-primary btn-md">Leer curso</button>
	</div>
</div>